/* Custom Properties */

:root {

    --clr-gray: 212, 23%, 69%;
    --clr-gray-light: 210, 46%, 95%;
    --clr-gray-dark-1: 214, 17%, 51%;
    --clr-gray-dark-2: 217, 19%, 35%;

    --fs-small: 0.8125rem;
}

/* General Resets */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

/* General Styling */

body {
    font-family: "Manrope", sans-serif;
    color: hsl(var(--clr-gray-dark-1));
    font-weight: 500;
    display: flex;
    justify-content: center; 
    align-items: center;

    font-size: var(--fs-small);
    background-color: hsl(var(--clr-gray-light));

    border: 1px solid black;
}

/* Components */

section.article-card {
    display: flex;
    flex-direction: column;
    
    width: 350px;
    background-color: white;

}

@media (max-width: 1020px) {
    section.article-card,
    .main-img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}


.main-img {
    width: 100%;
    height: 200px;
}

.avatar {
    width: 45px;
    height: 44px;
    border-radius: 50%;
}

.author-box {
    margin-top: 2em;

}

.author-box, 
.author-info {
    display: flex;
    align-items: center;
}

.author-info {
    justify-content: center;

}

.author-info > div {
    display: flex;
    flex-direction: column;
    gap: .15em;
    margin-left: 1.25em;
    
}


.author-name {
    font-weight: 700;
    color: hsl(var(--clr-gray-dark-2));
}

time,
.author-name {
    padding: 0;
    margin: 0;
}

.author-box {
    justify-content: space-between;
}

article{
    padding: 1em 2.5em;
   
}

article > h1 {
    font-size: 1.125rem;
    color: hsl(var(--clr-gray-dark-2));
}

article > p {
    line-height: 1.6;
}

.share-icon {
    padding: .85em;
    background-color: hsl(var(--clr-gray-light));
    border-radius: 50%;
}

@media (min-width: 1020px) {
    section.article-card {
        flex-direction: row;
        width: 810px;
    }

    article {
        padding-bottom: 2rem;
        padding-left: 2rem;
    }

    article > h1 {
        font-size: 1.45rem;
    }

    article > p {
        font-size: .95rem;
        line-height: 1.4;
    }


    section.article-card {
        border-radius: 10px;
    }
    
    .main-img {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }

    .main-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;

    }

    .main-img-wrapper {
        min-width: calc(100% - 60%);   
        min-height: 100%;   
    }

    .share-icon {
        padding: 1em;
        margin-right: .75em;
    }


}

/* Tooltip styles */

@media (hover: hover) and (pointer: fine) {
    .tooltip-wrapper {
        position: relative; /* important! makes tooltip position relative to this */
        display: inline-block; /* keeps wrapper snug around the image */

    }
    
    .tooltip {
        display: flex;
        gap: .85rem;
        align-items: center;

        position: absolute;
        bottom: 145%;       /* place it above the image */
        left: 50%;
        transform: translateX(-50%);
        background: hsl(var(--clr-gray-dark-2));
        color: hsl(var(--clr-gray));
        padding: 1rem 2rem;
        border-radius: 6px;
        border-color: hsl(var(--clr-gray-dark-2));
        white-space: nowrap;
        margin-bottom: .5rem; /* small gap above image */
        z-index: 10;
        
    }

    .tooltip > span {
        font-size: 0.95rem;
        letter-spacing: .3em;
    }

    .tooltip > img {
        width: 25px;
    }
    
    /* little triangle tip */
    .tooltip::after {
        content: "";
        position: absolute;
        top: 100%;          /* stick to bottom edge of tooltip box */
        left: 50%;
        transform: translateX(-50%);
        border-width: .8rem;
        border-style: solid;
        border-color: hsl(var(--clr-gray-dark-2)) transparent transparent transparent;
    }
}
  